@import "../stuff/variables.scss";

.slider__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin: 0;
	&-item {
	margin: 0 10px;
	border: 0;
	padding: 0px;

	height: 12px;
	width: 12px;	
	
  background-color: transparent;
	cursor: pointer;
	outline: transparent;
	position: relative;
	  &::before {
			content: "";
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			
			top: 0px;
			left: 0px;
	
			background-color: #b5b9be;

			box-sizing: border-box;
			box-shadow: 0 0 0 3px transparent;
		
			outline: none;	   
		} 
	&:hover::before {	
		transition: 0.1s ease;
		background-color: #5e6163;
		}
	&:active::before {	
		transition: 0.05s ease;
		background-color: #e9ebec;
	}
  &--active {
			&::before {
				top: 0;
				left: 0;
				background-color: #ffffff;
				box-shadow: 0 0 0 3px $text-blue;
			}
			&:hover::before {
				background-color: #ffffff;
			}
			&:active::before {	
				background-color: #ffffff;
			}
		}	
	}
}

@media (min-width: $desktop-width) {
	.slider__dots {
		display: none;
	}
}